@model List<ToDo.UI.Models.WeeklyScheduleViewModel>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Weekly Work Schedule</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container mt-4">
        <h2>Weekly Work Schedule</h2>

        @foreach (var developer in Model)
        {
            foreach (var dev in developer.WeeklySchedule)
            {
                <div class="card mt-3">
                    <div class="card-header">
                        Developer: @dev.DeveloperName
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Assigned Tasks</h5>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Task ID</th>
                                    <th>Name</th>
                                    <th>Duration</th>
                                    <th>Difficulty</th>
                                    <th>Provider Source</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var task in dev.AssignedTasks)
                                {
                                    <tr>
                                        <td>@task.Id</td>
                                        <td>@task.Name</td>
                                        <td>@task.Duration</td>
                                        <td>@task.Difficulty</td>
                                        <td>@task.ProviderSource</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <p class="card-text">Total Hours Worked: @dev.TotalHoursWorked</p>
                    </div>
                </div>
            }
            <p class="mt-4">Minimum Weeks Required: @developer.MinimumWeeks</p>
        }

        
    </div>
</body>
</html>
